<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">            
            
            <label>Buscar artista</label>
            <input type="text" class="form-control" (keyup)="buscaArtistas(artista.value)" #artista />         
            
            <ul>
                <li *ngFor="let artista of artistas" [routerLink]="['/artista', artista.id]">
                    <img src="{{ apiUrl }}/{{ artista.foto }}" />
                    <span class="descricao ml-2">{{ artista.nome }}</span>
                </li>
            </ul>
            
        </div>  
    </div>
</div>
