.card {
    background-color:  #f5f5f0;
    border-radius: 10px;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.container-box {    
    height: 300px;
}
  
.content-box {        
    text-align: center;
    width: 200px;
}