<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">   
            <div class="card-group">
                <div class="card-body">
                    <div class="flex-box container-box">
                        <div class="content-box">                            
                            <button class="btn btn-primary btn-block" [routerLink]="['/busca']">
                                Buscar Artista
                            </button>
                            <button class="btn btn-primary btn-block" [routerLink]="['/historico']">
                                Histórico
                            </button>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



       
            